

/* 
z-index: -1; make the content unclicleable
*/
.CardContainer{
    width: 100%;
    height: auto;
    border-radius: 20px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background: #151420;
background: radial-gradient(circle, #151420 49%, #191826 96%);
    border: 2px solid  #3d2e81;
    -webkit-box-shadow: inset 2px -2px 5px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px -2px 5px 4px rgba(0,0,0,0.75);
    box-shadow: inset 1px -1px 4px 3px rgba(0,0,0,0.75);
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
  

}

.CardContainer:hover{
    background: rgb(42,33,75);
    background: linear-gradient(90deg, rgba(42,33,75,1) 0%, rgba(60,48,106,1) 25%, rgba(78,64,139,1) 50%, rgba(60,48,106,1) 75%, rgba(42,33,75,1) 100%);
    box-shadow: 2px 2px 8px 5px rgb(59,45,110);
    box-shadow: -2px -2px -8px -5px rgb(59,45,110);
    

}





.CardContainer h1{
font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-style: normal; 
font-size: 1.3rem;
margin: .625rem 0;
}



/* font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-style: normal; */

.CardContainer p {
    color: #bb86fc ;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: .625rem 0;
}


.CardContent{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    margin:  30px 0;
    padding: 15px 5px;
    @media (max-width: 1300px){
margin: 10px 0;
padding: 10px 5px;
    }
    
}

.CardContentImg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    
}

.CardContentImg img{
width: 60%;
    transition: transform 0.4s ease-in-out;
}

.CardContentImg img:hover{
    
    transform: scale(1.1) translateY(-10px);
}


.ProductCardBtns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    color: #6545e3;
    
}

.CardBuyBtn{
    font-size: 1.25rem;
    background-color: #6545e3;
    border: 2px solid #222137;

    color: #f4f4f4;
    border-radius: 15px;
    width: 7rem;
    height: 3rem;
}


.ProductCardCart{
    display: flex;
    width: 3rem;
    height: 3rem;
    margin: 0 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #6545e34b;
    border-radius: 20px; 
    color: #f4f4f4;
    @media (max-width: 1300px){
        width: 2.5rem;
        height: 3rem;
        padding: 0;
        border-radius: 10px;
        flex-direction: column;
    }
}

.cardDescription{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    @media (max-width: 1300px){
        font-size: 0.8px;
    }
}


.AddToCartBtn {
    height: 60px;
    width: 96%;
    background-color: #132233;
    border: 2px solid rgb(182, 128, 128);
    color: #eee;
    transition: .6s;
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    overflow: hidden;
  }
  
  .AddToCartBtn span {
    transform: translateX(10px);
    transition: .5s;
  }
  
  .AddToCartBtn svg {
    transform: translateX(-300px);
    transition: .6s;
    z-index: 3;
    height: 20px;
  }
  
  .AddToCartBtn:hover {
    width: 100%;
    background-color: #6545e3;
    box-shadow: 6px 6px 76px #a8a8a841,-20px -20px 76px #4e408b;
    border: 2px solid rgb(57, 48, 68);
  }
  
  .AddToCartBtn:hover svg {
    transform: translateX(-5px);
  }
  
  .AddToCartBtn:hover span {
    transform: translateY(70px);
    font-size: .1rem;
  }