.ProductDetailContainer {
display: flex;
align-items: center;
justify-content: center;
margin: 0 25%;
height: 85vh;
  }
  

  .ProductDetail{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    align-items: center;
    justify-content: center; 
    width: 100%;
    
    text-align: center; /* Center the main-image */
  }

  
.main-image {
  grid-column: (2,3fr) / span 1; 
  border-bottom: 1px solid grey;
  width: 100%; 
  height: 100%;
}
  
.MoreImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center; /* Centra verticalmente las imágenes dentro de cada columna */
    justify-content: center; /* Centra horizontalmente las imágenes dentro de cada columna */
  }
  

  
  .img1 {
    width: 50%;
    margin: 0 25%;
    height: auto;
  }
  
  .img2, .img3, .img4 {
    width: 50%;
    margin: 0 25%;
    height: auto;
  }
  
  .Rates {
    grid-column: 1; /* Ahora también ocupa la primera columna */
    width: 1161px;
    height: 463px;
  }