.ProductDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 80vh;
    text-align: center;
    margin: 0 0 5rem 0;
    padding:  20px 0;
  }

  
.main-image {
  grid-column: (2,3fr) / span 1; 
  border-bottom: 1px solid grey;
  width: 100%; 
  height: 100%;
}
  
.MoreImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: 
    justify-content: center; 
  }
  

  
  .img1 {
    width: 50%;
    margin: 0 25%;
    height: auto;
  }
  
  .img2, .img3, .img4 {
    width: 50%;
    margin: 0 25%;
    height: auto;
  }
  
  .ProductDetailColumn2{
    padding: 8rem;
  }


.ProductDetailStock{
  color: rgb(137, 155, 255);
  border-top: 2px solid rgb(137, 155, 255);
  border-bottom: 2px solid rgb(137, 155, 255);
  
}

.ProductDetailPrice{
  color: rgb(137, 155, 255);
}

.sizeBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.size{
  border: 2px solid rgb(137, 155, 255);
  border-radius: 10px;
  width: 2rem;
  margin:0.5rem;
}

.ProductDetailColor{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ColorsBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.redColor, .greenColor, .blueColor , .whiteColor{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 0.5rem ;
}

.redColor{
  background-color: red;
  border: 2px solid red;
}

.greenColor{
  background-color: green;
  border: 2px solid green;
}

.blueColor{
  background-color: blue;
  border: 2px solid blue;
}

.whiteColor{
  background-color: white;
  border: 2px solid white;
}

.ProductDetailDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProductDetailRates{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProductDetailName .ProductDetailRates, .ProductDetailColor, .ProductDetailDescription , .ProductDetailPrice , .ProductDetailRates, .ProductDetailStock{
  margin: 1rem 0;
}

.ProductDetailRates  h3, .ProductDetailColor  h3, .ProductDetailDescription  h3, .ProductDetailPrice  h3, .ProductDetailRates  h3, .ProductDetailStock h3{
color: rgb(137, 155, 255);
margin: 0.2rem 0;
}

.buyBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.buybtn{
  background-color: green;
  color: white;
  padding: 4px;
}

.cartbtn{
  background-color: rgb(0, 55, 128);
  color: white;
  padding: 4px;
}


.DetailCardBuyBtn{
  font-size: 1.25rem;
  background-color: #6545e3;
  border: 2px solid #222137;
  color: #f4f4f4;
  border-radius: 15px;
  width: 7rem;
  height: 3rem;
}

.AddCartBtn{
  font-size: 1.25rem;
  background-color: transparent;
  border: 2px solid #222137;
  color: #ffffff;
  border-radius: 15px;
  width: 7rem;
  height: 3rem; 
}

