.HomeContainer {
    color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: 35rem;
    background-image: url('../assets/sneakers.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ensures image is centered */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    /* Force full-width rendering */
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw; /* Override parent width constraints */
    @media (max-width: 1400px){
        font-size: 1.5rem;
    
    }
}

