.Searchbar{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151420;
    color: #d4d4d4;
    padding: 0.7rem 3rem;
    font-family: "IBM Plex Sans", sans-serif;
font-weight: 400;
font-style: normal; 
background-color: #151420   ;
border: 2px solid #222137   ;
border-radius: 10px;
@media (max-width: 1300px){
    padding:  0.7rem 1rem;

}
}

.h1{
    color: #dcdbe1;
    font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-style: normal; 
@media (max-width: 1300px){
    font-size: 1.2rem;
}
}

.h1 a {
    text-decoration: none;
    color: #dcdbe1;
    margin: 0 20px 0 0;

}



.btn {
    background-color: #6545e3;
    border: 2px solid #6545e3;
    padding: 10px 20px;
    border-radius: 20px;
    color: #dcdbe1;
    @media (max-width: 1300px){
        font-size: 0.8rem;
    }
}

.Searchinput{
    width: 27rem;
    height: 2rem;
    border-radius: 25px;
    background-color: #2d2d2d;
    padding: 15px;
    @media (max-width: 1300px){
        padding: 8px;
        width: 13rem;
        height: 1.8rem;
        border-radius: 15px;
    }
}

.Searchinput:hover{
    width: 28rem;
    background-color: #474747;
    transition: 0.2s ease-in-out;
}

